//This comes from material theming
.mat-primary {
  color: #1a9900;
}

.mat-danger {
  color: #ce0606;
}
.mat-success {
  color: #000000;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
}

td,
th {
  width: 25%;
}
